*{
    color: black;
}

#header{
    background-color: rgb(68, 68, 250);
}
#title>h1, #title>h1>strong{
    color: rgb(252, 252, 67);
}
#nocturn_slider{
    background-color: white;
    border: 3px black solid;
}
#nocturn_button{
    transform: translateY(-30%) translateX(75%);
    background-color: white;
    border: 3px black solid;
}
#menu>a:hover{
    color: rgb(252, 252, 67);
}
.menu_unselected{
    color: black;
}
.menu_selected{
    color: yellow;
}