*{
    color: white;
}
#header{
    background-color: rgb(20, 20, 97);
}
#header h1{
    color: white;
}
#nocturn_slider{
    background-color: black;
    border: 3px white solid;
}

#nocturn_button{
    transform: translateY(-30%) translateX(0%);
    background-color: black;
    border: 3px white solid;
}
#menu>a:hover{
    color: rgb(252, 252, 67);
}
.menu_unselected{
    color: white;
}
.menu_selected{
    color: yellow;
}